<section class="top-section top">
	<div class="container">
		<div class="headers">
			<h1 class="top-header col-md-4"><i class="fa fa-cubes"></i>COURSE PIONEER</h1>
			<p class="top-content col-md-8 col-md-offset-2">We teach our students how to become leaders.</p>
		</div>	
		<div class="navigation col-md-12">
			<ul class="nav col-md-10 col-md-offset-1">	
				<li class="col-md-3"><%= link_to "Courses", '#' %><li>
				<li class="col-md-3"><%= link_to "Why do it", '#' %><li>
				<li class="col-md-3"><%= link_to "Sponsors", '#' %><li>
				<li class="col-md-3"><%= link_to "Contact", '#' %><li>
			</ul>
		</div>
	</div>
</section>

<section class="second-section">
	<div class="container">

	<h1 class="section-two-header col-md-6 col-md-offset-3">Courses</h1>
	<div class="class-one col-md-4">
		<h3 class="section-two-class-header">Intro to Entrepreneurship</h3>
		<p class="secton-two-content col-md-12">We will introduce entrepreneurship, build individualized business plans to student’s business ideas, and showcase what was learned to an audience of students, parents, and judges.</p>
		<p class="link col-md-6 col-md-offset-3"><%= link_to "Learn more", root_url, :class => "learn-more" %></p>
	</div>

	<div class="class-one col-md-4">
		<h3 class="section-two-class-header">Social Enterprise</h3>
		<p class="secton-two-content col-md-12">Whether it is a not-for-profit or a socially-minded business, the goal is to make a difference. The Social Enterprise class will be a 6 week hands-on learning experience.</p>
		<p class="link col-md-6 col-md-offset-3"><%= link_to "Learn more", root_url, :class => "learn-more" %></p>
	</div>

	<div class="class-two col-md-4">
		<h3 class="section-two-class-header">Public speaking</h3>
		<p class="secton-two-content col-md-12">Strong communication skills are vital. We will focus on speech preparation and delivery, getting comfortable with an audience, and creating an impact. Students will present numerous speeches, including a final speech to all students and parents.</p>
		<p class="link col-md-6 col-md-offset-3"><%= link_to "Learn more", root_url, :class => "learn-more" %></p>
	</div>

	</div>
</section>

<section class="third-section">
	<div class="container">
		<p class="third-section-content col-md-8 col-md-offset-2">We focus on instructing and guiding business and entrepreneurially minded teens and pre-teens to make them more competitive among their peers. Through small class sizes, specialized mentorship, and a results-focused program, Course Pioneer aims to sharpen core skills which will allow students to become a true pioneers.</p>
	</div>
</section>

<section class="fourth-section">
	<div class="container">
		<div class="bullets col-md-12">
			<div class="content col-md-6">
				<h3 class="col-md-offset-4">Hands-on learning</h3>
				<i class="fa fa-check col-md-offset-2"></i>
				<p class="col-md-8">We give students the opportunity to work with their peers as they develop a skillset. Each student will present a final “project” that encompasses what they have learned.</p>
			</div>
			<div class="content col-md-6">
				<h3 class="col-md-offset-4">Staying competitive</h3>
				<i class="fa fa-cogs col-md-offset-2"></i>
				<p class="col-md-8">We concentrate on teaching our students skills that will allow them to stay competitive amongst their peers through participatory learning.</p>
			</div>
		</div>
		<div class="bullets col-md-12">
			<div class="content col-md-6">
				<h3 class="col-md-offset-4">Unique lesson plans</h3>
				<i class="fa fa-users col-md-offset-2"></i>
				<p class="col-md-8">Each teacher offers a unique lesson plan based on new techniques and concepts. The small class size means teachers determine the comfortable skill level of each student.</p>
			</div>
			<div class="content col-md-6">
				<h3 class="col-md-offset-4">Extra-curricular activity</h3>
				<i class="fa fa-lightbulb-o col-md-offset-2"></i>
				<p class="col-md-8">School and employment opportunities are becoming increasingly difficult to obtain. Students will make new friends while staying busy learning unique skills and concepts. </p>
			</div>
		</div>
		<div class="bullets col-md-12">
			<div class="content col-md-6">
				<h3 class="col-md-offset-4">Dedicated mentors</h3>
				<i class="fa fa-pencil col-md-offset-2"></i>
				<p class="col-md-8">Each mentor is specifically selected for their skills and engaging teaching abilities. Students will work comfortably with a personable and specialized teacher.</p>
			</div>
			<div class="content col-md-6">
				<h3 class="col-md-offset-4">Small class sizes</h3>
				<i class="fa fa-puzzle-piece col-md-offset-2"></i>
				<p class="col-md-8">Our class sizes range from eight to fifteen students. This provides every student with the opportunity to seek out extra support as needed.</p>
			</div>
		</div>
	</div>
</section>



