<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Register now</h4>
      </div>

      <div class="modal-body col-md-10 col-md-offset-1">
				<%= simple_form_for Registration.new, :html => {:class => 'form-horizontal' }, remote: true do |f| %>
			    <%= f.input :name, placeholder: "Student's full name", :required => true %>
			    <%= f.input :email, placeholder: "Student's email address", :required => true %>
			    <%= f.input :phone, placeholder: "Student's phone number", :required => true %>
			    <%= f.input :guardian, placeholder: "Guardian's full name", :required => true %>
			    <%= f.input :guardian_email, placeholder: "Guardian's email address", :required => true %>
			    <%= f.input :guardian_phone, placeholder: "Guardian's phone number", :required => true %>
			    <%= f.input :address, :required => true %>
			    <%= f.input :city, :required => true %>
			    <%= f.input :state, :required => true %>
			    <%= f.input :zip, :required => true %>
			    <%= f.input :class, collection: Registration.classes_evanston, as: :radio_buttons %>
			    
			    <div class= "hidden">
			      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
			    </div>
			    <div>
			      </br>
			      <%= f.button :submit, 'Register', data: { "loading-text" => "Submitting..." }, :class=> "btn btn-primary contact-submit" %>
			    </div>
			    <div class="thanks-for-message"></div>
			  <% end %>
      </div>

      <div class="modal-footer">
 
      </div>

    </div>
  </div>
</div>